.navbar {
    display: flex;
    justify-content:  space-between;;
    align-items: center;
    background-color: #222831;
    color: white;
    padding: 10px 50px;
    width: 100%;
    box-sizing: border-box;
}

.navbar-logo {
    font-size: 24px;
    margin-right: auto;
}

.navbar-links {
    list-style-type: none;
    margin-right: 0;
}

.navbar-links li {
    background-color: transparent;
    display: inline-block;
    margin-right: 20px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
}

.get-started-btn {
    background-color: transparent;
    background-color: #008A90;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 0;
}